# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
data_file = "output_data/city_list.csv"
data_file_df = pd.read_csv(data_file)
data_file_df.head()

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Kapaa,75,US,1601128815,59,22.08,-159.32,73.0,9.08
1,1,Vallenar,0,CL,1601128983,42,-28.57,-70.76,64.4,4.68
2,2,Hilo,90,US,1601128613,83,19.73,-155.09,71.6,6.93
3,3,Gijang,40,KR,1601128983,68,35.24,129.21,68.0,12.75
4,4,Yellowknife,90,CA,1601128626,87,62.46,-114.35,42.8,5.82

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = data_file_df[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = data_file_df["Humidity"]

In [4]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius =5)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Cities will be reduced based on the following weather condictions
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

reduced_cities_df = data_file_df.loc[(data_file_df["Wind Speed"] < 10) & (data_file_df["Cloudiness"] == 0) & \
                                   (data_file_df["Max Temp"] > 60) & (data_file_df["Max Temp"] < 80)].dropna()

reduced_cities_df

,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,1,Vallenar,0,CL,1601128983,42,-28.57,-70.76,64.40,4.68
148,148,Gladstone,0,AU,1601128814,88,-23.85,151.25,64.40,4.70
171,171,Southbridge,0,US,1601129013,91,42.08,-72.03,63.00,1.99
194,194,Ryazhsk,0,RU,1601129019,21,53.70,40.11,72.00,9.35
201,201,Guerrero Negro,0,MX,1601128949,88,27.98,-114.06,67.42,8.37
237,237,Xianshuigu,0,CN,1601129028,82,38.98,117.38,66.20,2.24

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = reduced_cities_df.loc[:,["City", "Country", "Lat", "Lng"]]

hotel_df["Hotel Name"] = ""

hotel_df

               City Country    Lat     Lng Hotel Name
1          Vallenar      CL -28.57  -70.76
148       Gladstone      AU -23.85  151.25
171     Southbridge      US  42.08  -72.03
194         Ryazhsk      RU  53.70   40.11
201  Guerrero Negro      MX  27.98 -114.06
237      Xianshuigu      CN  38.98  117.38

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [8]:
for index, row in hotel_df.iterrows():
    print(index)
    print(row)

1
City          Vallenar
Country             CL
Lat             -28.57
Lng             -70.76
Hotel Name
Name: 1, dtype: object
148
City          Gladstone
Country              AU
Lat              -23.85
Lng              151.25
Hotel Name
Name: 148, dtype: object
171
City          Southbridge
Country                US
Lat                 42.08
Lng                -72.03
Hotel Name
Name: 171, dtype: object
194
City          Ryazhsk
Country            RU
Lat              53.7
Lng             40.11
Hotel Name
Name: 194, dtype: object
201
City          Guerrero Negro
Country                   MX
Lat                    27.98
Lng                  -114.06
Hotel Name
Name: 201, dtype: object
237
City          Xianshuigu
Country               CN
Lat                38.98
Lng               117.38
Hotel Name
Name: 237, dtype: object

In [9]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
results

Retrieving Results for Index 1: Vallenar.
Retrieving Results for Index 148: Gladstone.
Retrieving Results for Index 171: Southbridge.
Retrieving Results for Index 194: Ryazhsk.
Retrieving Results for Index 201: Guerrero Negro.
Retrieving Results for Index 237: Xianshuigu.

[{'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 38.945789, 'lng': 117.335537},
   'viewport': {'northeast': {'lat': 38.94715522989272,
     'lng': 117.3368867798927},
    'southwest': {'lat': 38.94445557010727, 'lng': 117.3341871201073}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
  'name': 'Tianjin Country Garden Phoenix Hotel',
  'place_id': 'ChIJ6RiJi2rm7TUREHK66N4mfrw',
  'plus_code': {'compound_code': 'W8WP+86 Jinnan District, Tianjin, China',
   'global_code': '8PCVW8WP+86'},
  'rating': 3,
  'reference': 'ChIJ6RiJi2rm7TUREHK66N4mfrw',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 2,
  'vicinity': 'Jinnan District, 八二路'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 38.98333, 'lng': 117.388466},
   'viewport': {'northeast': {'lat': 38.98464602989272,
     'lng': 117.3898152798927},
    'southwest': {'lat': 38.98194637010728, 'lng': 117.3871156201073}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
  'name': 'GreenTree Inn TianJin Jinnan XianShuiGu Nanhuan Road Express Hotel',
  'place_id': 'ChIJhwDhXQzv7TURa64sGahUano',
  'plus_code': {'compound_code': 'X9MQ+89 Jinnan District, Tianjin, China',
   'global_code': '8PCVX9MQ+89'},
  'rating': 0,
  'reference': 'ChIJhwDhXQzv7TURa64sGahUano',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 0,
  'vicinity': 'Nanhuan Road, Beitoudaogou, Xianshuigu, Tianjin'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 38.954124, 'lng': 117.34504},
   'viewport': {'northeast': {'lat': 38.95545512989273,
     'lng': 117.3464145298927},
    'southwest': {'lat': 38.95275547010728, 'lng': 117.3437148701073}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
  'name': 'GreenTree Alliance Tianjin Jinnan Jingang Highway Baili Industrial Park Hotel',
  'place_id': 'ChIJnfcUZA7m7TURdM2a0oEs0hk',
  'plus_code': {'compound_code': 'X83W+J2 Jinnan District, Tianjin, China',
   'global_code': '8PCVX83W+J2'},
  'rating': 0,
  'reference': 'ChIJnfcUZA7m7TURdM2a0oEs0hk',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 0,
  'vicinity': 'Corner of Jingang Highway and, Erba Rd, Tianjin'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 38.986157, 'lng': 117.4112587},
   'viewport': {'northeast': {'lat': 38.98746517989272,
     'lng': 117.4126209298927},
    'southwest': {'lat': 38.98476552010728, 'lng': 117.4099212701073}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
  'name': '格林豪泰天津市津南咸水沽镇南环路快捷酒店',
  'place_id': 'ChIJacBy_lTu7TUReYmvfr_pdL4',
  'plus_code': {'compound_code': 'XCP6+FG Jinnan District, Tianjin, China',
   'global_code': '8PCVXCP6+FG'},
  'rating': 0,
  'reference': 'ChIJacBy_lTu7TUReYmvfr_pdL4',
  'scope': 'GOOGLE',
  'types': ['point_of_interest', 'establishment'],
  'user_ratings_total': 0,
  'vicinity': '天津市津南区咸水沽镇南环路（东张庄加油站南）'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 38.94641000000001, 'lng': 117.33543},
   'viewport': {'northeast': {'lat': 38.94775692989273,
     'lng': 117.3367583298927},
    'southwest': {'lat': 38.94505727010728, 'lng': 117.3340586701073}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
  'name': 'Country Garden Phoenix Hotel Tianjin',
  'place_id': 'ChIJwU6N9mrm7TUR_ftKmJ4AbCQ',
  'plus_code': {'compound_code': 'W8WP+H5 Jinnan District, Tianjin, China',
   'global_code': '8PCVW8WP+H5'},
  'rating': 0,
  'reference': 'ChIJwU6N9mrm7TUR_ftKmJ4AbCQ',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 0,
  'vicinity': 'Junction Of Jingang Road And Baer Road, Tianjin'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 39.02234, 'lng': 117.38155},
   'viewport': {'northeast': {'lat': 39.02337822989271, 'lng': 117.38558005},
    'southwest': {'lat': 39.02067857010727, 'lng': 117.38020665}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
  'name': 'NCEC Jinyuan Hotel',
  'place_id': 'ChIJdRtGV-bv7TURSqKi01dkOxE',
  'plus_code': {'compound_code': '29CJ+WJ Jinnan District, Tianjin, China',
   'global_code': '8PFV29CJ+WJ'},
  'rating': 0,
  'reference': 'ChIJdRtGV-bv7TURSqKi01dkOxE',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 0,
  'vicinity': '2 Xinhui Rd, Jinnan District'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 39.00545, 'lng': 117.366999},
   'viewport': {'northeast': {'lat': 39.00684547989272,
     'lng': 117.3684543798927},
    'southwest': {'lat': 39.00414582010728, 'lng': 117.3657547201073}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png',
  'name': 'Haiyou International Cruise Hotel',
  'place_id': 'ChIJq0_Ttojv7TURb00PwMTLdT0',
  'plus_code': {'compound_code': '2948+5Q Jinnan District, Tianjin, China',
   'global_code': '8PFV2948+5Q'},
  'rating': 0,
  'reference': 'ChIJq0_Ttojv7TURb00PwMTLdT0',
  'scope': 'GOOGLE',
  'types': ['point_of_interest', 'establishment'],
  'user_ratings_total': 0,
  'vicinity': '海河教育园区雅深路8号'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 38.978542, 'lng': 117.405913},
   'viewport': {'northeast': {'lat': 38.97992542989272,
     'lng': 117.4073416798927},
    'southwest': {'lat': 38.97722577010728, 'lng': 117.4046420201072}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
  'name': 'Tianjin Minjin Hotel',
  'place_id': 'ChIJH71WTALv7TURe7do58CKwS8',
  'plus_code': {'compound_code': 'XCH4+C9 Jinnan District, Tianjin, China',
   'global_code': '8PCVXCH4+C9'},
  'rating': 5,
  'reference': 'ChIJH71WTALv7TURe7do58CKwS8',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 1,
  'vicinity': 'Tianjin, 咸水沽镇海河科技园福鑫路1号'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 39.004044, 'lng': 117.3752},
   'viewport': {'northeast': {'lat': 39.00573167989272,
     'lng': 117.3761768798927},
    'southwest': {'lat': 39.00303202010728, 'lng': 117.3734772201073}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
  'name': 'Orange Hotel Select',
  'place_id': 'ChIJN_iiRpDv7TUReglWkxicXvw',
  'plus_code': {'compound_code': '293G+J3 Jinnan District, Tianjin, China',
   'global_code': '8PFV293G+J3'},
  'rating': 0,
  'reference': 'ChIJN_iiRpDv7TUReglWkxicXvw',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 0,
  'vicinity': 'Building 3, Yasheng Plaza, intersection of Jingu Road and, Yarun Rd, Tianjin'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 39.00557999999999, 'lng': 117.376015},
   'viewport': {'northeast': {'lat': 39.00693127989273,
     'lng': 117.3773637798927},
    'southwest': {'lat': 39.00423162010728, 'lng': 117.3746641201073}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
  'name': 'Wanai couple Hotel (Tianjin Jinnan University City store',
  'place_id': 'ChIJy1etppHv7TUR15D-Q9nqqu8',
  'plus_code': {'compound_code': '294G+6C Xianshuigu, Jinnan District, Tianjin, China',
   'global_code': '8PFV294G+6C'},
  'rating': 0,
  'reference': 'ChIJy1etppHv7TUR15D-Q9nqqu8',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 0,
  'vicinity': 'Gate 16, building 20, Jinfangyuan, Xianshuigu, Town'},
 {'business_status': 'OPERATIONAL',
  'geometry': {'location': {'lat': 39.017542, 'lng': 117.375307},
   'viewport': {'northeast': {'lat': 39.01890387989273,
     'lng': 117.3766717798927},
    'southwest': {'lat': 39.01620422010728, 'lng': 117.3739721201072}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
  'name': '海河文华大酒店',
  'place_id': 'ChIJNeoLKezv7TUR0c14Eyqvb4s',
  'plus_code': {'compound_code': '299G+24 Jinnan District, Tianjin, China',
   'global_code': '8PFV299G+24'},
  'rating': 0,
  'reference': 'ChIJNeoLKezv7TUR0c14Eyqvb4s',
  'scope': 'GOOGLE',
  'types': ['lodging', 'point_of_interest', 'establishment'],
  'user_ratings_total': 0,
  'vicinity': '2 Xinhui Rd, Jinnan District'}]

In [10]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("No hotel")
        
    print("------------")

Retrieving Results for Index 1: Vallenar.
Closest hotel in Vallenar is Hotel Puerto de Vega.
------------
Retrieving Results for Index 148: Gladstone.
Closest hotel in Gladstone is Gladstone Heights Harbour View Executive Apartments.
------------
Retrieving Results for Index 171: Southbridge.
Closest hotel in Southbridge is Hampton Inn Sturbridge.
------------
Retrieving Results for Index 194: Ryazhsk.
Closest hotel in Ryazhsk is Gostinitsa.
------------
Retrieving Results for Index 201: Guerrero Negro.
Closest hotel in Guerrero Negro is Hotel Los Caracoles.
------------
Retrieving Results for Index 237: Xianshuigu.
Closest hotel in Xianshuigu is Tianjin Country Garden Phoenix Hotel.
------------

In [11]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
1,Vallenar,CL,-28.57,-70.76,Hotel Puerto de Vega
148,Gladstone,AU,-23.85,151.25,Gladstone Heights Harbour View Executive Apart...
171,Southbridge,US,42.08,-72.03,Hampton Inn Sturbridge
194,Ryazhsk,RU,53.70,40.11,Gostinitsa
201,Guerrero Negro,MX,27.98,-114.06,Hotel Los Caracoles
237,Xianshuigu,CN,38.98,117.38,Tianjin Country Garden Phoenix Hotel

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

locations

       Lat     Lng
1   -28.57  -70.76
148 -23.85  151.25
171  42.08  -72.03
194  53.70   40.11
201  27.98 -114.06
237  38.98  117.38

In [13]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))